<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/output.css" rel="stylesheet">
		<link rel="manifest" href="/site.webmanifest">
		<title>Recipe Hub | Luke A Coleman</title>
	</head>
	<body class="">
		<div class="h-[100px] flex items-center justify-center bg-gradient-to-r from-[#004685] to-[#66CECF] text-white font-bold text-4xl mb-12">
			<a href="/">
				<h1 class="">Recipe Hub</h1>
			</a>
		</div>
		<div class="container mx-auto px-10"> {% block page_content %}{% endblock %}
			</div>
			<footer class="h-[100px] flex items-center justify-center bg-gradient-to-r from-[#66CECF] to-[#004685] text-white mt-12">
				<p class="ml-4 text-center">All rights reserved Recipe Hub</p>
			</footer>
		</body>
	</html>
